body {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: .90rem;
    font-style: normal;
    background-color: #f8f9fa;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings: "wdth"100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-optical-sizing: auto;
    font-variation-settings: "wdth"100;
}

h4 {
    font-size: 1rem;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

@media (min-width: 1200px) {
    .col-20 {
        flex: 0 0 auto;
        width: 20%;
    }

    .col-80 {
        flex: 0 0 auto;
        width: 80%;
    }
}

.popover {
    min-width: 200px;
}

.border-left-0 {
    border-left: 0;
}

.border-right-0 {
    border-right: 0;
}

.form-control,
.form-select,
.input-group-flat:focus-within,
.form-check-input:focus {
    box-shadow: none !important;
    font-size: .875rem;
    line-height: 1.75;
    border-radius: 4px;
}

.input-group:focus-within .input-group-text,
.input-group:focus-within .form-control {
    border-color: #86b7fe;
}

.input-group-text.disabled {
    background-color: var(--bs-secondary-bg);
}

.badge {
    --bs-badge-font-size: 0.7em !important;
    --bs-badge-font-weight: 500 !important;
    border-radius: 4px !important;
}

.sidebar-area {
    width: 60px;
    height: 100dvh;
    background-color: #f8f9fa;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sidebar .logo {
    padding: .75rem .75rem 1rem .75rem;
}

.sidebar .menu .nav {
    flex-direction: column;
    gap: 10px;
}

.sidebar .menu a.nav-link {
    padding: .35rem;
    border-radius: 6px;
    background-color: transparent;
}

.sidebar .menu a.nav-link:hover,
.sidebar .menu a.nav-link.active {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 6px;
}

.sidebar .dropdown {
    margin-top: auto;
    margin-bottom: 1.5rem;
}

.sidebar .dropdown a#profileDropdown {
    border-radius: 6px;
    padding: .5rem;
    border: 1px solid #0d6efd;
    background-color: transparent;
    color: #0d6efd;
}

.sidebar .dropdown a.active {
    border-radius: 6px;
    padding: .5rem;
    border: 0 none;
    color: #fff !important;
    background-color: #0d6efd !important;
}

.sidebar .dropdown .dropdown-menu {
    font-size: .90rem;
}

.page {
    position: relative;
    background-color: #f8f9fa;
    width: 100%;
    padding-left: 50px;
}

.page .page-header {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.page .page-header .page-title h1 {
    font-size: 1.125rem;
    margin-bottom: 0;
}

.page .page-content {
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 1.25rem;
}

.page .page-menu {
    background-color: #f8f9fa;
    padding: .75rem;
    box-shadow: var(--bs-box-shadow-sm) !important;
    margin-bottom: 1.25rem;
}

.page .account-menu {
    padding: .75rem;
}

.page .page-menu ul.nav li.nav-item {
    margin-bottom: 0.25rem !important;
}

.page .page-menu ul.nav li.nav-item:last-child {
    margin-bottom: 0 !important;
}

.page .page-menu ul.nav li.nav-item a.nav-link {
    color: #0d6efd;
    font-weight: 400;
}

.page .page-menu ul.nav li.nav-item a.nav-link:hover,
.page .page-menu ul.nav li.nav-item a.active {
    background-color: #fff;
    color: #000;
    box-shadow: var(--bs-box-shadow-sm) !important;
}

.page .account-menu ul {
    margin: 0 1rem;
}

.page .account-menu li.list-group-item {
    padding: 0;
    border: 0;
}

.page .account-menu li.list-group-item a {
    padding: .5rem 0;
    display: block;
    border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color)
}

.page .account-menu li .active,
.page .account-menu li a:hover {
    color: #000;
}

.page .list-group .list-group-item svg {
    width: 1.25rem !important;
    height: 1.25rem !important;
    margin-right: .5rem;
    color: #0d6efd;
    opacity: .7;
    text-align: center;
}

.page .list-group .llv-active {
    background-color: #0d6efd;
    color: #fff;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.page .card h1.card-title {
    font-size: 1.35rem;
    font-weight: 600;
    margin-bottom: 0;
}

.page .card h3.card-title {
    font-size: 1.15rem;
    font-weight: 600;
}

.page .col-form-label {
    font-weight: 600;
}

.page .profile-card {
    background-color: #f8f9fa;
    padding: .50rem;
    border-radius: 4px;
    box-shadow: var(--bs-box-shadow-sm) !important;
}

.profile-card .profile-info h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

.profile-buttons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    flex-wrap: wrap;
}

.profile-buttons .btn {
    line-height: 1;
    --bs-btn-font-size: .80rem;
}

.profile-buttons svg {
    width: 18px;
    height: 18px;
}

.profile-content .nav-tabs:first-child {
    padding-left: 0.75rem;
}

.profile-content .tab-content {
    padding: 1rem 0.75rem;
}

.profile-content .card {
    border-radius: 4px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #066fd1;
    background-color: rgba(6, 111, 209, 0.04);
}

.datagrid {
    position: relative;
    width: 100%;
}

.datagrid-title {
    font-size: .725rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .04em;
    line-height: 1rem;
    margin-bottom: .25rem;
}

.form-switch {
    padding-left: 0;
    font-weight: 600;
}

.form-switch .form-check-input {
    width: 3em;
    margin-left: 0;
    float: right;
    height: 1.25rem;
    border-radius: 1rem;
}

@media screen and (min-width: 462px) {
    .sidebar .dropdown .dropdown-menu {
        left: 20px;
    }
}

@media screen and (max-width: 462px) {
    .sidebar-area {
        height: auto;
        width: 100%;
    }

    .sidebar-area .logo {
        margin-bottom: 0 !important;
        padding-left: 1rem !important;
    }

    .sidebar-area .logo img {
        max-width: 50px;
    }

    .sidebar {
        flex-direction: row;
        height: auto;
    }

    .sidebar .menu .nav {
        flex-direction: row;
    }

    .sidebar .menu .nav-item {
        margin-bottom: 0;
    }

    .sidebar .dropdown {
        margin-top: unset;
        margin-bottom: 0;
        margin-right: 1rem;
    }

    .page {
        width: 100%;
        margin-top: 70px;
        padding-left: 0;
    }
}
